#
#  Copyright (c) 2020, Oracle and/or its affiliates. All rights reserved.
#  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
#
#  This code is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License version 2 only, as
#  published by the Free Software Foundation.  Oracle designates this
#  particular file as subject to the "Classpath" exception as provided
#  by Oracle in the LICENSE file that accompanied this code.
#
#  This code is distributed in the hope that it will be useful, but WITHOUT
#  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
#  FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
#  version 2 for more details (a copy is included in the LICENSE file that
#  accompanied this code).
#
#  You should have received a copy of the GNU General Public License version
#  2 along with this work; if not, write to the Free Software Foundation,
#  Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA.
#
#  Please contact Oracle, 500 Oracle Parkway, Redwood Shores, CA 94065 USA
#  or visit www.oracle.com if you need additional information or have any
#  questions.
#

# ---------------------------------------------------------------------------
# Coherence VisualVM Plugin GitHub Actions CI build.
# ---------------------------------------------------------------------------

name: Java CI - Released versions

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - 14.1.1-0-1
          - 14.1.1-0-2
          - 14.1.1-0-3
          - 14.1.1-0-4
          - 14.1.1-0-5
          - 14.1.1-0-6
          - 20.06.1
          - 20.12
          - 20.12.2
          - 21.06
          - 21.06.1

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up JDK 1.8 for NetBeans Dependencies build
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Print Versions
      run: mvn -version && ant -version

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Generate NetBeans Dependencies
      shell: bash
      run: |
        bin/install-artifacts.sh /tmp/install/${{ matrix.version }}

    - name: Set up JDK 11 for Build
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    - name: Build
      shell: bash
      run: |
        mvn --file pom.xml --batch-mode -e -DskipTests clean install

    - name: Verify
      shell: bash
      run: |
        echo "Running verify ${{ matrix.version }}"
        mvn --file coherence-visualvm-tests/coherence-visualvm-tests-ce/pom.xml --batch-mode -e -Dcoherence.version=${{ matrix.version }} clean install

    - name: Build Artifacts test logs
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: test-output
        path: coherence-visualvm-tests/**/target/test-output/**/*

    - name: Coherence VisualVM Plugin NBM
      uses: actions/upload-artifact@v2
      with:
        name: coherence-visualvm-plugin-nbm
        path: coherence-visualvm-plugin/target/coherence-visualvm-plugin*.nbm

    - name: Coherence VisualVM Plugin Javadoc
      uses: actions/upload-artifact@v2
      with:
        name: coherence-visualvm-plugin-javadoc
        path: coherence-visualvm-plugin/target/coherence-visualvm-plugin*javadoc.jar
